<events>
	<event>
		<event_id>1</event_id>
		<date>07/07/2023</date>
		<time>23:00</time>
		<text_size>21</text_size>
	</event>
	<event>
		<event_id>6</event_id>
		<date>07/07/2023</date>
		<time>21:00</time>
		<text_size>19</text_size>
	</event>
	<event>
		<event_id>20</event_id>
		<date>07/07/2023</date>
		<time>23:00</time>
		<text_size>21</text_size>
	</event>
	<event>
		<event_id>2</event_id>
		<date>08/08/2023</date>
		<time>12:30</time>
		<text_size>73</text_size>
	</event>
	<event>
		<event_id>3</event_id>
		<date>08/08/2023</date>
		<time>17:00</time>
		<text_size>44</text_size>
	</event>
	<event>
		<event_id>5</event_id>
		<date>08/08/2023</date>
		<time>13:00</time>
		<text_size>62</text_size>
	</event>
	<event>
		<event_id>7</event_id>
		<date>08/08/2023</date>
		<time>09:00</time>
		<text_size>30</text_size>
	</event>
	<event>
		<event_id>4</event_id>
		<date>05/05/2025</date>
		<time>21:45</time>
		<text_size>11</text_size>
	</event>
</events>